<div class="center">
  <h1 style="color: green">
    SCSS in Angular
    <h3>How do you create an angular application to use scss?</h3>
    <h4>
      Use or configure SCSS in your Angular project at the time of
      initialization with the style flag set to use SCSS.
    </h4>

    <button (click)="openModal()">Show Steps</button>

    <div class="modal" *ngIf="showModal">
      <div class="modal-content">
        <span (click)="closeModal()"> × </span>
        <ul>
          <li>Create a new Angular project</li>
          <li>Install Scss</li>
          <li>Configure Angular to use Scss</li>
          <li>Import the Scss file in your Angular component</li>
          <li>Run the Angular application</li>
        </ul>
      </div>
    </div>
  </h1>
</div>
